<h1>User List</h1>
<a href="/admin">Add user</a>
<table>
    <thead>
        <tr>
            <th>name</th>
            <th>password</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.password}}</td>
            <td>
                <a href="/admin/{{this._id}}">Edit</a>
                <a href="/admin/delete/{{this._id}}" onclick="return confirm('Are you sure to delete the user?')">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>